body{
    background-color: #d4f6ff;
    font-family: Federo;
    margin: 0;
    
}

header{
    width: 100%;
    background-color: #921a40;
    border: 5px solid red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

#boton-menu{
    display: none;
}

.icono-menu .menu{
    width: 30px;
    height: 30px;
    display: none;
    padding: 10px;

    
}

.icno-menu .menu:hover{
    cursor: pointer;
}

.logo .nombre{
    font-size: 20px;

}

.navegador ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navegador li :hover{
    background: #1a1a19;
}

.navegador li a{
    display: block;
    padding: 10px;
    color: #d4f6ff;
    text-decoration: none;
}

/* -----------me falta terminar el header----------- */

main h1{               /*-----Bienvenidos-(Main)----*/
    height: 200px;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: #921a40;

}

.imagen{
    height: 100p;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px;
}

main #sobremi .info{       /*---------Sobre mi*/
    padding: 30px;
    text-align: center;
    color: #921a40;
    font-size: 50px;
}

main .texto{
    height: 400px;
    font-size: 20px;
    text-align: center;
}

#misproyectos{          /*--------Mis Proyectos--------*/                      
    min-height: 100vh;
}

.contenedor{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    min-height: 500px;
}

.titulo1{
    text-align: center;
    font-size: 50px;
    color: #921a40;
}

.card1, .card2, .card3, .card4, .card5, .card6{
    width: 300px;
    min-height: 250px;
    margin: 0;
    padding: 10px;
}

.sitioweb, .ecommerce, .landing, .accesibilidad, .blogs, .aplicaciones{
    text-align: center;
    color: #921a40;
}

.parrafo1, .parrafo2, .parrafo3, .parrafo4, .parrafo5, .parrafo6{
    color: #921a40;
}

.img1, .img2, .img3, .img4, .img5, .img6{
    width: 300px;
    height: 150px;
    border-radius: 6px;
}

/*@media (min-witdth 768px;){
    .contenedor{
        display: flex;
        flex-direction: column;}
}*/

#habilidades{                /*--------Habilidades----------*/
    min-height: 100vh;           
    padding: 20px;
    text-align: center;
    border: 3px solid black;
}

.titulo2{
    color: #921a40;
    font-size: 40px;
    padding: 50px
}

.texto2{
    color: #921a40;
    font-size: 20px;
    border: 3px solid red;
    padding: 50px;
    margin: 0px;
}

.imagenes{
    margin: 0px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    justify-content: center;
} 

.uno, .dos, .tres, .cuatro, .cinco, .seis, .siete{
    width: 80px;
    height: 80px;
}

#escribeme{           /*-------Escribeme-----------*/
    min-width: 100vh
}

.mail{
    /*border: 2px solid green;*/
    font-size: 40px;
    text-align: center;
    color: #921a40;
}

.formulario{
    border: 2px solid red;
    min-height: 100vh;
}

.formulario, .nom, .ape, .email, .men, .enviar{
    color: #921a40;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.enviar #btn{
    margin: 5px;
    font-size: 30px;
    background-color: #e73970;
    border: 0px;
    border-radius: 5px;
}

.enviar #btn:hover{
    background-color: #700d2c;
    color: #d4f6ff;
    cursor: pointer;
}










